*.class
*.iso
install/
logs/

apache-maven-*

# Eclipse
.metadata/
Servers/
RemoteSystemsTempFiles/
**/.classpath
**/.project
**/.settings

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
webapp-install/.springBeans
/.recommenders/

**/target/*
mhs_server/mhs.log.lck
*.log
*.lck
mhs_server/db/mhs.properties
mhs_server/db/mhs.script
*.ldb
