# Pour utiliser ce fichier de préconfiguration, appuyez sur "Echap" afin d'accéder à
# à l'invitée "boot:" et saisissez la ligne de paramétrage suivante:
# auto preseed/file=/media/preseed.fr.cfg

#### Contents of the preconfiguration file
### Localization
# Locale sets language and country.
d-i debian-installer/country        string  FR
d-i debian-installer/language       string  fr
d-i debian-installer/locale select  fr_FR.UTF-8
d-i keyboard-configuration/layout   select  Français
d-i keyboard-configuration/layout   select  Français

# Choix du clavier :
d-i keyboard-configuration/xkb-keymap select fr(latin9)
