Package: mhs
Version: 0.0.1-alpha1
Section: admin
Priority: optional
Architecture: any
Depends: iptables (>= 1.4.21-2)
Suggests: mhs-doc
Installed-Size: 0
Maintainer: stefv <svanpo@gmail.com>
Description: This is a server easy to use with a web 
 interface to manage and controle the parameters and plugins.